.button {
  display: block;
  padding: 10px 12px;

  font: inherit;
  line-height: 22px;
  font-weight: 500;
  text-align: center;

  color: $white;
  background-color: $orange-600;
  border: none;
  border-radius: 8px;
  cursor: pointer;


  &--cancel {
    color: $gray-850;
    background-color: $gray-200;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 20px;
  }
}
