.experience {
  width: 100%;
  max-width: 710px;
}

.experience__title {
  margin: 0;
  margin-bottom: 20px;

  color: $black;

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 18px;

    color: $gray-900;
  }
}

.experience__duration {
  color: $gray-900;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;

    text-transform: none;
  }
}

.experience__period {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.experience__date {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }
}

.experience__item-duration {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: $gray-850;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.experience__company {
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.experience__company-name {
  position: relative;
  margin: 0;

  font-size: 18px;
  line-height: 22px;

  @media (min-width: $desktop-width) {
    padding-left: 24px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  &::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url("../../img/icons/firm.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.experience__company-url {
  margin: 0;

  color: $gray-850;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 14px;
  }
}

.experience__position {
  position: relative;
  margin: 0;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 22px;

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
    padding-left: 24px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  &::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url("../../img/icons/job.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.experience__description-item {
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.experience__description-title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 500;

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;

    font-size: 14px;
  }

  &--small {
    font-size: 16px;
    line-height: 22px;
    color: $black;

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 20px;
      color: $font-color-base--desktop;
    }
  }
}

.experience__responsibilities-list {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 24px;

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}

.experience__responsibilities-item {
  color: $gray-850;

  &--dark {
    color: $black;
  }

  @media (min-width: $desktop-width) {
    color: $font-color-base--desktop;
  }
}

.experience__responsibilities-sublist {
  padding-left: 0;

  list-style-type: disc;
}

.experience__responsibilities-subitem {
  position: relative;
  padding-left: 12px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &::before {
    position: absolute;
    content: "- ";
    left: 0;
    top: 0;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.experience__button {
  display: block;

  font: inherit;
  color: $blue-400;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 14px;
    color: $gray-850;
  }
}
