.main-nav {
  padding: 4px 15px;
  margin: 0 auto;
  margin-bottom: 10px;

  box-shadow: inset 0 -1px 0 $gray-200;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: 1000;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    order: 1;
    box-shadow: none;
  }
}

.main-nav__button-back {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 32px;
  height: 32px;

  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2766 1.16675L5.15038 9.29297C4.75986 9.6835 4.75986 10.3167 5.15038 10.7072L13.2766 18.8334' stroke='%23B6C2DA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
}
