.portfolio {
  width: 100%;
  max-width: 710px;
  margin-bottom: 16px;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 20px;
}

.portfolio__list {
  display: flex;

  overflow-x: hidden;
}

.portfolio__item {
  flex-shrink: 0;
  margin-right: 10px;

  background-color: transparent;
  border: none;
}

.portfolio__image {
  width: 148px;
  height: 148px;

  border-radius: 6px;
  pointer-events: none;
}

.portfolio__icon {
  fill: none;
  color: $white;

  &--arrow-forward {
    width: 12px;
    height: 14px;
  }

  &--prev {
    transform: rotate(180deg);
  }
}
