.resume-header {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 586px;
    margin: 0;
    padding: 0;

    text-align: left;
  }
}

.resume-header__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 19px;
  }
}

.resume-header__wrapper {
  @media (min-width: $desktop-width) {
    padding: 10px 0;
  }
}

.resume-header__name {
  margin: 0;
  margin-bottom: 6px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  color: $gray-1000;
}

.resume-header__about {
  position: relative;
  margin: 0;
  margin-bottom: 6px;

  font-size: 15px;
  line-height: 20px;
  color: $black;

  @media (min-width: $desktop-width) {
    padding-left: 20px;

    font-size: 16px;
    line-height: 24px;
    color: $font-color-base--desktop;
  }

  &::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url("../../img/icons/sex.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.resume-header__meta {
  position: relative;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: $gray-700;

  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url("../../img/icons/time.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.resume-header__datetime {
  color: $green-1000;
}
