.toolbar {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 290px;
    min-height: 530px;
    padding: 0;
    margin: 0;
  }
}

.toolbar__wrapper {
  display: flex;
}

.toolbar__salary-block {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.toolbar__salary {
  margin: 0;
  max-width: 260px;

  font-size: 28px;
  line-height: 36px;
  font-weight: 500;

  color: $font-color-base--desktop;
}

.toolbar__menu-button {
  position: relative;
  width: 18px;
  height: 18px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $gray-850;
    box-shadow: 7px 0 0 0 $gray-850, 14px 0 0 0 $gray-850;
  }
}

.toolbar__video-interview {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.toolbar__arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  background-color: $gray-150;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.toolbar__icon {
  fill: none;
  stroke: $gray-850;
  color: $gray-850;

  &--heart {
    width: 22px;
    height: 20px;

    @media (min-width: $desktop-width) {
      width: 19px;
      height: 17px;
    }
  }

  &--arrow-forward {
    width: 12px;
    height: 14px;
  }
}

.toolbar__responses {
  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

