.video-inteview {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  padding-left: 72px;

  box-shadow: inset 0 -1px 0 $gray-200;

  @media (min-width: $desktop-width) {
    padding: 10px;
    padding-left: 72px;

    box-shadow: none;
    border: 1px solid $gray-300;
    border-radius: 8px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 8px;
    width: 47px;
    height: 44px;
    background-image: url("../../img/videointerview.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $desktop-width) {
      top: 15px;
    }
  }
}

.vide-interview__wrapper {
  max-width: 219px;
  margin-right: 12px;
}


.video-interview__title {
  margin: 0;
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.video-interview__text {
  margin: 0;

  font-size: 12px;
  line-height: 14px;
  color: $gray-850;
}
